  html {
  	position: relative;
  	min-height: 100%;
  }

  body * {
  	font-weight: 100 !important;
  }

  main {
  	height: 100vh;
  	align-items: center !important;
  }

  .nav-link {
  	text-transform: lowercase;
  	font-weight: 100;
  	color: $primary !important;
  }

  .btn-primary {
  	color: white !important;
  }

  .active {
  	.nav-link {
  		color: $primary !important;
  	}
  }

  .menu-active {
  	background-color: #A7D1FF;

  }

  .footer {
  	position: fixed;
  	display: none;
  	bottom: 0;
  	width: 100%;
  	height: 3.5rem;
  	line-height: 3.5rem;
  	background-color: #ccc;
  	min-width: 100%;
  }

  .text-secondary {
  	color: #9e9e9e;
  }


  .bg-img {
  	position: absolute;
  	margin-left: 18rem;
  }

  .card {
  	margin-bottom: 2rem;
  }

  .signup {
  	margin-top: 9%;
  }

  .create-accommodation {
  	margin-top: 90px;
  }

  .form-control {
  	border: 1px solid #ced4da;
  }

  ::placeholder {
  	font-weight: 100;
  	color: gainsboro !important;
  }

  .img-sm {
	  width: 5rem;
	  height: 4rem;
	  border-radius: .2rem;
  }

  label {
  	font-size: 0.8rem;
  }

  .logo-txt {
  	font-weight: bold !important;
  }

  .mt-20 {
  	margin-top: 10% !important;
  }

  .avatar {
  	width: 75px;
  	height: 50px;
  	border-radius: 100%;
  }

  .logo {
  	transform: rotate(-90deg);
  	width: 30px;
  	margin-right: 1rem;
  }

  .card-img {
  	height: 165px !important;
  	overflow: hidden;

  	img {
  		width: 100% !important;
  		background-size: cover;
  	}
  }

.middle { 
	margin-left: 85px !important;
}
  .request-list {
  	margin-top: 0px;
  }

  .request-button {
  	height: 40px;
  	padding-bottom: 0px;
  	margin-top: 90px;
  }

  .more {
  	right: 3rem;
  }

  @media (min-width: 992px) {
  	.sidenav {
  		position: absolute;
  		top: 0;
  		left: 0;
  		width: 200px;
  		height: calc(100vh - 3.5rem);
  		margin-top: 3.5rem;
  		background: white;
  		box-sizing: border-box;
  		border-top: 1px solid rgba(197, 197, 197, 0.3);
  		box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  	}

  	.navbar-expand-lg .sidenav {
  		flex-direction: column;
  	}

  	.request-button {
  		margin-left: 265px;
  	}

  	.pagination {
  		margin-left: 265px;
  	}

  	.content-wrapper {
  		margin-left: 230px;
  	}

  	.footer {
  		width: 100%
  	}

  	.user-nav {
  		height: 130px;
  	}
  }

  @media (max-width: 992px) {
  	.user-nav {
  		display: none;
  	}

  	.request-button {
  		margin-left: 2.5rem;
  	}

  	.signup {
  		margin-top: 20%;
  	}

  	.main.navbar-nav {
  		text-align: center;
  	}

  	.fixed-top {
  		.shadow-sm {
  			box-shadow: 0 0.125rem 0.25rem rgba(252, 252, 252, 0.075) !important;
  		}
  	}
  }

  @media (max-width: 768px) {
  	.card-img {
  		height: 122px !important;
  		overflow: hidden;
  	}
  }

.searchModal{
	width: fit-content;
	z-index: 99999;
	background-color: white;
	height: fit-content;
	position: absolute;
	right: 2rem;
	top: 8.5rem;
}
.notificationPanel{
	width: 400px;
	z-index: 99999;
	background-color: white;
	height: 50%;
	position: absolute;
	right: 0.5rem;
	top: 55px;
	overflow-y: scroll
}
.blurPanel{
	width: 100%;
	height: 100vh;
	z-index: 99900;
	background-color: black;
	opacity: 0.5;
	position: absolute;
	right: 0rem;
	top: 55px;
}
.bg-active {
	background-color: #e0efff;
}
.notificationImg{
	font-size: 1.5rem;
	cursor: pointer;
}
.markAllAsRead {
	width: 28px;
	height: 28px;
	padding-top: 2px;
	padding-left: 8px;
    cursor: pointer;
}
.markOneAsRead {
	width: 28px;
	height: 28px;
	padding-top: 0px;
	padding-left: 6px
}
.small-text {
	font-size: 10px;
	top: 15px;
	position: absolute;
	cursor: pointer;
}
@media (max-width: 441px) {
	.searchModal {
		width: 100%;
		margin:0;
		position: absolute;
	    right: 0;
	    top: 8.4rem;
	}
	.notificationPanel{
		width: 100%;
		z-index: 99999;
		background-color: white;
		height: 50%;
		position: absolute;
		right: 0rem;
		top: 55px;
		overflow-y: scroll
	}
}
  .my-search {
  	min-height: 40vh;
  	width: 100vw;
  	background-color: $primary;
  	margin-top: 63px;
  }

  .card-img {
  	height: 165px !important;
  	overflow: hidden;

  	img {
  		width: 100% !important;
  		background-size: cover;
  	}
  }

  .acc-container {
  	width: 90%;
  	margin-top: 4rem;
  	margin-left: 3%;

  }

  .gallery-card {
  	height: auto;
  }

  .img-card-display {
  	height: 290px;
  }

  .img-scroll-display {
  	height: 150px;
  	overflow-y: scroll;
  	float: left;
  	z-index: 567;
  }

  .img-feedback {
  	width: 60px;
  	height: 60px;
  	border-radius: 100px;
  }

  .target-img {
  	height: 100%;
  	width: 100%;

  }

  .detail-card {
  	height: 100px;
  }

  .bold-text {
  	font-weight: 400 !important;
  }

.breadcomb{
	margin-top: 70px;
	margin-left: 200px;

	span{
		padding-left: 50px;
	}
}

.request{
	margin-left: 300px;
	height: auto;
}

@media (max-width: 996px){
	.breadcomb{
	  margin-top: 70px;
	  margin-left: 0px;
	span{
		padding-left: 20px;
	}
}
.request{
	margin-left: 0px;
}
}



  .error-msg {
  	margin-top: 45vh;
  }

  .spinner-load {
  	height: 100px;
  	width: 100px;
  }

  .label-input{
	  width: 160px;
  }
  .label-input-2{
	  font-size: 14px
  }
  
  .rate-modal {
	position: absolute;
	top: 0px;
	z-index: 999999;
  }

  .bookingList {
	  margin-top: 100px;
  }
  .blurPanel{
	width: 110%;
	height: 100vh;
	z-index: 99900;
	background-color: black;
	opacity: 0.5;
	position: absolute;
	top: 60px;
  }
.send-button2 {
	margin-left: 10px;
	height: 40px;
	margin-bottom: 10px;
	padding: 0px !important;
	a.bg-success:hover, a.bg-success:focus, button.bg-success:hover, button.bg-success:focus{
		background-color: white !important;
	}
	img{
		background-color: white !important;
    &:visited {
      background-color: white !important;
    }
    &:hover {
      background-color: white !important;   
    }
    &:active {
      background-color: white !important;
    }

	}
	&:visited {
      background-color: white !important;
    }
    &:hover {
      background-color: white !important;   
    }
    &:active {
      background-color: white !important;
	}
	
	.img2{
		height: 40px;
		width: 40px;
		padding: 0px;
		border: 0px;
	}

}
.inp{
	width: 80%;
	height: 40px;
	padding: 0;
	border: 0px;
}
