body * {
  font-weight: 100 !important;
}

main {
  height: 100vh;
  align-items: center !important;

}

.nav-link {
  text-transform: lowercase;
  font-weight: 100;
  color: $primary !important;
}

.btn-primary {
  color: white !important;
}

.active {
  .nav-link {
    color: $primary !important;
  }
}

footer {
  font-weight: 100;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;

  p {
    margin-top: 1rem;
  }
}

.bg-img {
  position: absolute;
  margin-left: 18rem;
}

.signup {
  margin-top: 9%;
}

.form-control {
  border: 1px solid #ced4da;
}

::placeholder {
  font-weight: 100;
  color: gainsboro !important;
}

label {
  font-size: .8rem;
}

.logo-txt {
  font-weight: bold !important;
}

.mt-20 {
  margin-top:10% !important;
}
