@media screen and (max-width: 992px) {
  .row {
    display: block;
  }
  .request-container {
    margin-left: 0 !important;
  }
  textarea.form-control {
    margin-top: 3vw !important;
  }
}

.request-container {
  padding-top: 70px;
  top: 0;
  bottom:0;
  position: fixed;
  margin-left: 220px;
  margin-bottom: 100px !important;
  overflow-y: scroll;
}