.btn2 {
    height: 35px;
    width: 140px;
    margin: 10px;
    text-transform: capitalize;
    border: none;
    border-radius: 6px;
    font-weight: normal;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    transition: background-color 0.6s ease;
    &:hover {
      cursor: pointer;
      transition: ease-in-out 0.3;
      background-color: silver;
    }
  }
  .Face {
    width: 45%;
    float: left;
    margin: 30px 0 30px 0;
    padding-top: 4px;
  }
  .Goo {
    width: 45%;
    float: right;
    margin: 30px 0 30px 0;
    padding-top: 4px;
  }
  .btn-google {
    background-color: $google !important;
    color:white !important;
  }
  .btn-face {
    background-color: $facebook !important;
    color:white !important;
  
  }
  .socialButtonImg{
      float: left;
      padding-top: 2px; 
      margin: 0 0 0 8px;
      width: 20px;
      height: 22px;
    }
    