.btn {
    height: 40px;
    width: 140px;
    margin: 10px;
    text-transform: capitalize;
    border: none;
    border-radius: 6px;
    font-weight: normal;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    transition: background-color 0.6s ease;
    &:hover {
      cursor: pointer;
      transition: ease-in-out 0.3;
      background-color: silver;
    }
  }
  
  .social {
    position: absolute;
    margin-top: 100px;
    float: left;
    color:white;
  }
  .socialFace {
    background-color:blue;
  }
  .socialGoo {
    background-color:red;
   
  }
  .socialButtonImg{
      float: left;
      margin: 2px 0 0 2px;
      width: 25px;
      height: auto;
    }